<!doctype html>
<html lang='en' ng-app="inventory">

<head>
    <meta charset='UTF-8'>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Shopular</title>
    <link rel="stylesheet" href="lib/styles/main.min.css">
</head>

<body ng-controller="MainController as main">
    <header ng-controller="LoginController as login">
      Shopular Inventory
      <div class="user-name-label">User: </div>
      <div class="user-name" ng-model="loggedUser.username">{{loggedUser.username}}</div>
      <div class="time-label">Logged in at: </div>
      <div class="time">{{loggedUser.time | date:"MMM dd-hh:mma"}}</div>
      <div class="button-box"  ng-controller="InventoryController as inventory">
      <button><a href="#edit" class="edit-items">Edit Items</a></button>
      <button><a href="#main" class="view-items">View Items</a></button>
      <button><a href="#/" class="login-page">Login Page</a></button>
      <button ng-click="clearForm()">Clear Local Storage</button>
    </div>
    </header>

    <ng-view></ng-view>

    <footer>
    </footer>
    <script src="src/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="src/js/vendor/ng-local-storage.min.js"></script>
    <script src='src/js/app.js'></script>
    <script src='src/js/controllers.js'></script>
    <script src='src/js/service.js'></script>
    <script src='src/js/factory.js'></script>
</body>

</html>
