
    <main>
        <section class="table-container">
          <ul class="table table-striped">
            <li class="ul-header">
              <span>Name</span>
              <span>Price</span>
              <span>Quantity</span>
              <span>Color</span>
            </li>
            <li class="ul-input">
              <form novalidate name="new-item-form" class="new-item-form">
                <input required type="number" placeholder="New Item ID" ng-model="item.id">
                <input required type="text" placeholder="New Item Name" ng-model="item.name">
                <input required type="number" placeholder="New Item Price" ng-model="item.price">
                <input required type="number" placeholder="New Item Quantity" ng-model="item.quantity">
                <input required type="text" placeholder="New Item Color" ng-model="item.color">
                <input required type="number" placeholder="New Item Discount" ng-model="item.discount">
              </form>
              <span class="add-item" ng-click="$scope.new-item-form.$valid && addItem(item)">+ Add Item</span>
            </li>
            <li ng-repeat="item in allItems" ng-class-odd="'odd'" ng-class-even="'even'">
              <form novalidate name="edit-item-form" class="edit-item-form">
                <input required type="number" ng-model="item.id" placeholder="{{item.id}}">
                <input required type="text" ng-model="item.name" placeholder="{{item.name}}">
                <input required type="number" ng-model="item.price" placeholder="{{item.price}}">
                <input required type="number" ng-model="item.quantity" placeholder="{{item.quantity}}">
                <input required type="text" ng-model="item.color" placeholder="{{item.color}}">
                <input required type="number" ng-model="item.discount" placeholder="{{item.discount}}">
              </form>
              <span class="delete-item" ng-click="deleteItem(item, $index)">Delete Item</span>
              <span class="update-item" ng-click="$scope.edit-item-form.$valid && updateItem(item, $index)">Submit Edit</span>

            </li>
          </ul>
    </main>
