header {
    text-align: center;
    height: 34vh;
    background: darkolivegreen;
    color: antiquewhite;
    padding: 2% 1%;
    font-size: 2em;
}

.time-label,
.user-name-label {
    color: burlywood;
    font-size: 0.6em;
    position: absolute;
    left: 1vw;
}
.user-name-label {
  top: 3vh;
}
.time-label {
  top: 12vh;
}

.time,
.user-name {
    padding: 3px;
    font-size: 0.5em;
    height: 4vh;
    width: 13vw;
    position: absolute;
    background: burlywood;
    color: black;
    left: 13vw;
}

.user-name {
    top: 3vh;
}

.time {
    top: 11vh;
}

.edit-items,
.login-page,
.view-items {
    text-decoration: none;
    color: olive;

    &:active,
    &:link,
    &:visited {
        color: olive;
        font-size: 0.8rem;
    }
}

button {
    background: burlywood;
    color: olive;
    font-size: 0.8rem;
    &:focus {
        background: tan;
    }
    &.log-out{
    right: 3vw;
    position: absolute;
    top: 3vh;
    }
}
