header {
  text-align: center;
  height: 20vh;
  background: darkolivegreen;
  color: antiquewhite;
  padding: 2% 1%;
  font-size: 2em;
}
.edit-items,
.view-items {
  text-decoration: none;
  color: olivegreen;
  &:visited,
  &:link,
  &:active {
    color: olivegreen;
  }
}
button {
  background: beige;
  &:focus {
    background: tan;
  }
}
